h1{
  color: #dfca10;
  font-size: 60px;
  margin-bottom: 20px;
}
p {
  color: #fff;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.req-btn {
  background-color: #000; /* Black background */
  color: #dfca10;         /* Golden-yellow text */
  border: 2px solid #dfca10; /* Border same as font color */
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 900;
  transition: all 0.3s ease;
  height: 60px;
  width: 250px;
  font-size: medium;
}

/* Hover effect */
.req-btn:hover {
  background-color: #dfca10; /* Fill with gold */
  color: #000;               /* Invert text color on hover */
  border-color: #dfca10;     /* Keep same border */
}
body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

/* Ensure content is not hidden behind fixed navbar */
body {
  padding-top: 80px; /* adjust to your navbar height */
}
